.container {
  text-align: center;
  padding-top: 7.37rem;
}

.loadingIcon {
  animation: 1s linear 0s infinite forwards running rotate;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
