@use "@styles/color";
@use "@styles/font";
@use "@styles/space";
@use "@styles/breakpoint";

.container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  padding: space.$s4;
  border-radius: space.$s2;
  gap: space.$s3;

  &.error {
    border: 1px solid color.$error-300;
    background: color.$error-25;
  }

  p {
    margin: 0;
  }

  path {
    fill: black;
  }
}

.retry {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: space.$s3;

  p {
    width: max-content;
    margin-right: space.$s3;
  }
}
