@use "@styles/color";
@use "@styles/space";
@use "@styles/breakpoint";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: space.$s6;
  padding: space.$s6;
  color: color.$gray-500;

  @media (min-width: breakpoint.$desktop) {
    flex-direction: row;
    padding: space.$s0 space.$s8;
    height: 3.75rem;
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: space.$s6;

  @media (min-width: breakpoint.$desktop) {
    order: 2;
  }
}

.link {
  color: inherit;
}

.versionText {
  color: color.$gray-400;

  @media (min-width: breakpoint.$desktop) {
    order: 1;
    flex: 1;
  }
}

.logoContainer {
  display: flex;
  justify-content: end;

  @media (min-width: breakpoint.$desktop) {
    order: 3;
    flex: 1;
  }
}
